/* style.css */
body{
  background-color: rgb(25,25,25);
  background-size: cover;
  color: black;
  font-size: 25px;
  font-family: Allerta Stencil;
  text-align: center;
  font-weight: lighter;
}
h1{
  font-family: Nanum Gothic;
  color: #009999;
  font-weight: lighter;
  font-size: 90px;
}
h2 {
  font-family: Courier;
  color: pink;
  font-weight: lighter;
  font-size: 20px;
}
a {
  color: white;
}
a:hover {
  text-decoration: none;
  color: black;
}
p {
	color : white;
	font-size: 20px;
}

.card {
	margin-top: 40px;
	margin-bottom: 40px;
}

#header {
	padding: 230px 0;
	background-image: url("images/pexels-photo-96857.jpeg");
	background-size: cover;
}

#footer {
	padding: 20px 0;
	border-top: 3px solid white;
}

#footer a {
	color: white;
}

#footer p {
	color: white;
}

#footer li {
	padding: 10px;
}

#header p {
	color: #009999
}

#header a {
	color: #009999
}

.row {
	margin-top: 70px;
	margin-bottom: 70px;
}

.container h2 {
	padding-top: 25px;
}